<div class="container">

    <!-- to add client -->

    <div class="d-flex my-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
            class="bi bi-person-fill-add align-self-center" viewBox="0 0 16 16">
            <path
                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path
                d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
        </svg>
        <button class="btn btn-dark align-self-center mx-1" (click)="setCreateProjectVisible()">Create
            Meeting</button>
    </div>
    <div class="d-flex mt-2 mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
            class="bi bi-eye-fill align-self-center" viewBox=" 0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
        </svg>
        <button class="btn btn-primary align-self-center mx-1 px-3" (click)="setViewProjectVisible()">View
            Meeting</button>
    </div>


    <app-createclient *ngIf="!viewProject"></app-createclient>



    <!-- template to modify client data -->
    <ng-template #myTemplate>
    </ng-template>

    <!-- <app-modal type="modal-dialog modal-lg modal-dialog-scrollable" animation="modal" titleName="Create Client"
        modelId="model2">
        <div *ngTemplateOutlet="myTemplate"></div>
    </app-modal> -->

    <!-- to list all the clients -->
    <app-listclient (myEvent)="reciveClientFromList($event)" (modifyData)="modifyClientData($event)"
        (deleteData)="deletClientData($event)" *ngIf="viewProject"></app-listclient>

</div>