<!-- nav bar -->
<!-- <app-nav></app-nav> -->

<!-- page content -->
<div class="mt-5 container">
    <!-- self intro -->
    <div class="row mb-5">
        <div class="col-md-6" style="overflow: hidden;height: 32rem;"><img src="./../../assets/aboutusimage1.jpg" alt=""
                class="rounded">
        </div>
        <div class="col-md-6" style="padding: 0 0 0 30px;">
            <p class="h1">Our Story</p>
            <p class="lead">Welcome to ClientVista, where we redefine the way businesses manage their client
                relationships. Our
                journey
                began
                with a vision: to create a client management solution that is not only powerful and efficient
                but also
                intuitive
                and user-friendly.</p>
            <p class="lead">At ClientVista, we are driven by the belief that seamless client relationships are
                at the
                core of every
                successful business. We understand the challenges that organizations face in managing their
                clients, and
                we
                are
                here to simplify and streamline the process.</p>
            <p class="lead">Our mission is to empower businesses of all sizes to build stronger, more meaningful
                connections with
                their
                clients. Through innovative technology and a commitment to excellence, we provide a
                comprehensive client
                management solution that adapts to your unique needs.</p>
        </div>
    </div>

    <!-- testimonials -->
    <div class="row mb-5">
        <div class="col-md-6 d-flex">
            <p class="align-self-center h1">What Our Clients Say</p>
        </div>
        <div class="col-md-6">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="1000">
                        <img src="./../../assets/testimonial1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="1000">
                        <img src="./../../assets/testimonial2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="1000">
                        <img src="./../../assets/testimonial3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="1000">
                        <img src="./../../assets/testimonial4.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="1000">
                        <img src="./../../assets/testimonial5.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="1000">
                        <img src="./../../assets/testimaonial6.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="1000">
                        <img src="./../../assets/testimonial7.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <!-- business partners -->
    <p style="text-align: center;" class="mb-5 h1">Our partners</p>
    <div style="margin: 0 0 5rem 3rem;">
        <div class="row">
            <img src="./../../assets/brand/br1.png" alt="" class="col-md-4 col-sm-3"
                style="width: 10rem;height: 10rem;margin: 0 5rem 0 5rem;">
            <img src="./../../assets/brand/br2.png" alt="" class="col-md-4 col-sm-3"
                style="width: 10rem;height: 10rem;margin: 0 5rem 0 5rem;">
            <img src="./../../assets/brand/br3.png" alt="" class="col-md-4 col-sm-3"
                style="width: 10rem;height: 10rem;margin: 0 5rem 0 5rem;">
            <img src="./../../assets/brand/br4.png" alt="" class="col-md-4 col-sm-3"
                style="width: 10rem;height: 10rem;margin: 0 5rem 0 5rem;">
            <img src="./../../assets/brand/br5.png" alt="" class="col-md-4 col-sm-3"
                style="width: 10rem;height: 10rem;margin: 0 5rem 0 5rem;">
            <img src="./../../assets/brand/br6.png" alt="" class="col-md-4 col-sm-3"
                style="width: 10rem;height: 10rem;margin: 0 5rem 0 5rem;">
        </div>
    </div>
</div>



<!-- footer -->
<app-footer></app-footer>