<!-- <app-home></app-home> -->
<!-- <app-about></app-about> -->
<!-- <app-contact></app-contact> -->
<!-- <app-login></app-login> -->
<div *ngIf="navbar1">
    <app-nav>
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 500px;">
            <li class="nav-item mx-2">
                <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/contact">Contact us </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/login">Log In</a>
            </li>
        </ul>
    </app-nav>
</div>
<div *ngIf="navbar2">
    <app-nav>
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 500px;">
            <li class="nav-item mx-2">
                <a class="nav-link" aria-current="page" routerLink="/client">Client</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/project">Project</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/task">Task</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/meeting">Meeting</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/login">Logout</a>
            </li>
        </ul>
    </app-nav>
</div>



<router-outlet />