<!-- home content starts -->
<div class="container mt-5">
    <!-- banner section 1 -->
    <div class="row mb-5 d-flex">
        <div class="col-md-6 align-self-center">
            <p style="text-transform: uppercase" class="h1 m-0">Client Vista </p>
            <p class="h4">Created by: Abhishek Shastry TR</p>
            <p class="lead">ClientVista is more than just a client management tool, it's your partner in building
                lasting client relationships and driving business success.
                all in one centralized platform.</p>
            <button routerLink="/login" class="btn btn-dark btn-lg">Join Now</button>
        </div>
        <div class="col-md-6 "><img src="./../../assets/bannerimage3.jpg" alt="" style="height: 30rem;width: 35rem;"
                class="rounded">
        </div>
    </div>
    <!-- banner section 2 -->
    <div class="row mb-5 d-flex">
        <div class="col-md-6"><img
                src="./../../assets/A sleek and professional banner image for ClientVista, focusing on a black and white theme. I.png"
                alt="" style="height: 30rem;width: 30rem;"></div>
        <div class="col-md-6 align-self-center">
            <p style="text-transform: uppercase;" class="h1">Revolutionize Your Client Management</p>
            <p class="lead">Our black and white-themed interface reflects the simplicity and sophistication of our
                robust client management
                solution. Seamlessly organize client profiles, streamline communication, and enhance collaboration with
                our intuitive
                features.</p>
        </div>
    </div>

    <!-- banner section 3 -->
    <div class="row mb-5 d-flex">
        <div class="col-md-6 align-self-center">
            <p style="text-transform: uppercase;" class="h1">Streamlining Success</p>
            <p class="lead">The minimalist design ensures a user-friendly experience while conveying professionalism and
                trust. Focus on what
                matters most your clients as ClientVista empowers your team to work smarter.</p>
        </div>
        <div class="col-md-6"><img src="./../../assets/Designer.png" alt="" style="height: 30rem;width: 30rem;"
                class="rounded mx-5">
        </div>
    </div>

</div>

<!-- footer -->
<app-footer></app-footer>